.todo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin: 12px auto;
  min-width: 300px;
  max-width: 300px;
  border-radius: 16px;
  border: 2px solid rgba(204, 158, 190, 0.8);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.align_left {
  display: flex;
  align-items: center;
}

.checkbox input {
  width: 16px;
  height: 16px;
}

.align_center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.title h2 {
  margin: 0;
  font-size: 16px;
  color: palevioletred;
}

.deadline p {
  margin: 0;
  font-size: 12px;
  color: #555;
}

.column {
  display: flex;
  align-items: center;
}

.delete_icon img {
  width: 22px;
  height: auto;
  margin-right: 10px;
}

.delete_icon img:hover {
  opacity: 0.7;
}

.checkbox input {
  opacity: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
}
