.todo {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #cc9ebe;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 300px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.align_left {
  margin-right: 10px;
}

.checkbox input {
  width: 16px;
  height: 16px;
}

.align_center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.title h2 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 16px;
  color: palevioletred;
}

.deadline p {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

.column {
  display: flex;
  align-items: center;
}

.delete_icon img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.delete_icon img:hover {
  opacity: 0.7;}
