.App {
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(101, 122, 95);
  margin: 0;
  background-color: rgb(233, 214, 227);
}

.todoList h1 {
  font-family: "League Script", cursive;
  font-size: 40px;
  font-weight: 600;
  color: rgb(200, 77, 118);
}

.todoForm {
  padding: 26px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-style: italic;
}

.container {
  margin: 40px;
  display: flex;
  align-items: flex-start;
  gap: 120px;
}
