h2 {
  justify-self: center;
}

.title_input,
.deadline_input {
  width: 220px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(200, 77, 118, 0.6);
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(101, 122, 95);
  margin-bottom: 22px;
  margin-left: 5px;
}

.title_input:focus,
.deadline_input:focus {
  outline: none;
  border-color: rgb(200, 77, 118);
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  font-weight: 500;
}

.submit_btn {
  width: 150px;
  align-self: center;
  margin-top: 20px;
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid rgb(200, 77, 118);
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(200, 77, 118);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.submit_btn:hover {
  background-color: rgba(200, 77, 118, 0.2);
}
